<main class="main-content">
  <div class="container">
    <h1 class="mat-display-2 mt-3">{{ 'title' | translate:locale.language }}</h1>

    <mat-card class="bg-dark text-success">
      <mat-card-content>
        Value: {{ value$ | async }}
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)='add()'>Add 1</button>
      </mat-card-actions>
    </mat-card>

    <div class="mt-3">
      <p>Text: {{ text$ | async }}</p>
      <button mat-raised-button color="accent" (click)='changeText()'>Change Text</button>
    </div>

    <mat-form-field appearance="standard">
      <label for="postcode">Post code</label>
      <input
        id="postcode"
        type="text"
        matInput
      />
    </mat-form-field>
  </div>
</main>

<footer class="py-4 bg-dark text-white-50 flex-shrink-0">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>
